.btnXL {
  padding: 12px 30px;
}

.btnMD {
  padding: 10px 25px;
}

.btnSM {
  padding: 8px 20px;
}

// COLORS
.btnGreen {
  color: $white;
  background-color: $green;
}

.btnBlack {
  color: $white;
  background-color: $black;
}
