.sectionHeader {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  .headerImage {
    width: 100%;
    height: calc(100vh - 70px);
    position: absolute;
    left: 0;
    top: 0;
    background-color: $black;
    video {
      width: 100%;
      height: calc(100vh - 70px);
      opacity: 0.5;
      object-fit: cover;
    }
    img {
      width: 100%;
      height: calc(100vh - 70px);
      opacity: 0.5;
      object-fit: cover;
    }
  }
  .titleWrapper {
    width: 800px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    color: $black;
    padding: 24px;
    z-index: 2;
    h1 {
      line-height: 1.5;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 24px;
      color: $white;
    }

    @include screen(tablet-wide) {
      width: 100%;
      height: 100vh;
    }
    @include screen(phone) {
      h1 {
        font-size: 35px;
      }
    }
    @include screen(phone-small) {
      .openStatus {
        .statusText {
          font-size: 14px;
        }
      }
    }
  }
  .descriptionWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    .textWrapper {
      p {
        font-size: 18px;
        padding-top: 10px;
        &:first-child {
          padding-top: 0;
        }
      }
      strong {
        font-weight: 500;
      }
    }
  }
}
