.section {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  .sectionHeading {
    margin: 0 0 24px 0;
    font-weight: 600;
    @include screen(phone) {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
}
