.contactsRow {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  h5 {
    font-weight: 400;
  }
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
