.section__news--all {
  .cards__wrapper {
    .card__news--medium {
      width: 360px;
      margin: 20px 20px 0 0;
      .card__image {
        display: block;
        img {
          max-height: 250px;
        }
      }
      @include screen(tablet) {
        width: 100%;
      }
    }
  }
}

.section__news--single {
  .news__content--wrapper {
    width: 100%;
    min-height: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    gap: 20px;
    .news__image {
      width: 100%;
      img {
        height: 450px;
        object-fit: cover;
        border-radius: 12px;
      }
    }
    .news__text--content {
      .news__title {
        font-size: 25px;
      }
      .news__date {
        margin: 12.5px 0 12.5px 0;
        span {
          font-size: 16px;
          color: $dimgray;
        }
      }
    }
    @include screen(tablet) {
      width: 100%;
    }
  }
  .news__description {
    margin-top: 20px;
    line-height: 1.8;
    font-size: 18px;
  }
  @include screen(desktop) {
    .news__content--wrapper {
      grid-template-columns: 550px 1fr;
    }
  }
  @include screen(tablet-wide) {
    .news__content--wrapper {
      margin-top: 10px;
      grid-template-columns: 1fr;
      gap: 0;
    }
    .news__description {
      margin-top: 7.5px;
    }
  }
  @include screen(phone) {
    .news__description {
      font-size: 16px;
    }
  }
}
