.welcome__page--museums {
  .cards__wrapper {
    grid-template-columns: 1fr 1fr;
    justify-self: flex-start;
    gap: 25px;
    margin-top: 15px;
    @include screen(desktop) {
      grid-template-columns: 1fr;
    }
  }
}

.welcome__page--events {
  .cards__wrapper {
    .card__event {
      min-width: 340px;
      margin-right: 25px;
      @include screen(phone) {
        min-width: 320px;
        margin-right: 20px;
      }
    }
    .card__button-more {
      min-width: 310px;
      height: 390px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      position: relative;
    }
  }
}

.welcome__page--gallery {
  .cards__wrapper {
    .gallery__image {
      background-color: $gray;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      img {
        min-width: 500px;
        height: 350px;
        border-radius: 12px;
        object-fit: cover;
      }
    }
  }
}
