button {
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
}

// SIZE
.btn--x1 {
  padding: 12px 30px;
}

.btn--x2 {
  padding: 10px 25px;
}

.btn--x3 {
  padding: 8px 20px;
}

// COLORS
.btn--green {
  color: $white;
  background-color: $green;
}

.btn--black {
  color: $white;
  background-color: $black;
}
