.section__header {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  position: relative;
  .header__image {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    img {
      min-width: 100vw;
      height: calc(100vh - 80px);
      object-fit: cover;
      @include screen(tablet-wide) {
        height: 100vh;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: calc(100vh - 80px);
      background-color: #000;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      opacity: 0.5;
      @include screen(tablet-wide) {
        height: 100vh;
      }
    }
  }
  .title__wrapper {
    width: 800px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    color: $white;
    z-index: 2;
    h1 {
      line-height: 1.5;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .open__status {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      line-height: 1.5;
      .status__icon {
        width: 16px;
        height: 16px;
        min-width: 15px;
        min-height: 15px;
        border-radius: 50%;
        margin: 0 15px 0 5px;
        position: relative;
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 50%;
          transform: translateX(-50%) translateY(-50%);
          animation: bubbleAnimation 2s infinite;
        }
      }
      .status__icon--opened {
        background-color: $green;
        &::before {
          background-color: rgba($color: $green, $alpha: 0.2);
        }
      }
      .status__icon--closed {
        background-color: $red;
        &::before {
          background-color: rgba($color: $red, $alpha: 0.2);
        }
      }
      @keyframes bubbleAnimation {
        50% {
          width: 30px;
          height: 30px;
        }

        100% {
          width: 10px;
          height: 10px;
        }
      }
      .status__text {
        font-size: 16px;
      }
    }

    @include screen(tablet-wide) {
      width: 100%;
      height: 100vh;
    }
    @include screen(phone) {
      h1 {
        font-size: 35px;
      }
    }
    @include screen(phone-small) {
      .open__status {
        .status__text {
          font-size: 14px;
        }
      }
    }
  }
  .description__wrapper {
    width: 100%;
    height: auto;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 25px;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
      text-align: center;
      margin-top: 25px;
    }
    @media screen and (max-width: 650px) {
      margin-top: 5px;
      align-items: flex-start;
      h2 {
        font-size: 30px;
        text-transform: none;
      }
      p {
        text-align: left;
        font-size: 17px;
        margin-top: 15px;
      }
    }
    @include screen(phone-small) {
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

.section__swiper-cards {
  .content__wrapper {
    position: relative;
  }
  .cards__wrapper {
    width: auto;
    flex-wrap: nowrap;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
  .button__swipe--left,
  .button__swipe--right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white;
    color: $black;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    transition: 0.15s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    &:hover {
      color: $white;
      background-color: $green;
    }
    i {
      font-size: 17px;
    }
    @include screen(phone) {
      display: none;
    }
  }
  .button__swipe--left {
    left: 5px;
    right: auto;
    z-index: 2;
  }
}

.section__events {
  .cards__wrapper {
    .card__event {
      min-width: 340px;
      margin-right: 25px;
      @include screen(phone) {
        min-width: 320px;
        margin-right: 20px;
      }
    }
    .card__button-more {
      min-width: 310px;
      height: 390px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      position: relative;
    }
  }
}

.section__news {
  .cards__wrapper {
    grid-template-columns: minmax(450px, auto) 380px 300px;
    grid-auto-rows: 190px;
    gap: 30px;
    .card__news--big {
      grid-row: 1 / 4;
    }
    .card__news-small--column-wrapper {
      grid-column: 2;
      grid-row: 1 / 4;
      gap: 30px;
    }
    .card__news--medium {
      grid-column: 3;
      grid-row: 1 / 3;
    }
    .card__news--small {
      height: 190px;
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
    .card__news--more {
      height: 190px;
      align-items: center;
      justify-content: center;
      cursor: default;
    }
    @include screen(desktop) {
      grid-template-columns: auto 380px;
      .card__news--big {
        grid-column: 1;
      }
      .card__news--medium {
        grid-column: 1;
        grid-row: auto;
      }
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      .card__news--big {
        grid-column: span 2;
      }
      .card__news--medium {
        grid-column: 2;
      }
      .card__news-small--column-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 190px;
        grid-column: span 2;
        grid-row: 4 / 6;
        .card__news--small {
          margin-top: 0;
        }
      }
      .card__news--more {
        grid-column: span 2;
        height: 50px;
        box-shadow: none;
      }
    }
    @include screen(tablet) {
      grid-template-columns: 1fr;
      gap: 20px 0;
      grid-auto-rows: auto;
      .card__news-small--column-wrapper {
        grid-template-columns: 1fr;
        grid-column: span 1;
        grid-row: 4 / 7;
      }
      .card__news--big,
      .card__news--medium,
      .card__news-small--column-wrapper {
        grid-column: 1;
      }
      .card__news--medium {
        margin-top: 20px;
      }
    }
  }
}

.section__gallery {
  .cards__wrapper {
    .gallery__image {
      background-color: $gray;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 500px;
        height: 350px;
        min-width: 500px;
        max-width: 500px;
        border-radius: 12px;
        object-fit: cover;
      }
    }
  }
}
