.section__tickets {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  .tickets__flex--wrapper {
    width: 100%;
    display: flex;
  }
  .wrapper {
    width: 65%;
    margin-right: 20px;
  }
  .tickets__column {
    position: relative;
    padding: 20px;
    background-color: $white;
    border-radius: 15px;
    .column__title {
      font-size: 25px;
      font-weight: 500;
    }
    .tickets__divider {
      margin: 15px 0 15px 0;
      border-top: 2px solid #f2f2f2;
    }
    .tickets__button {
      height: 50px;
    }
    @include screen(tablet) {
      .tickets__button {
        height: 45px;
      }
    }
  }

  .tickets__table--prices {
    height: auto;
    .tickets__divider {
      margin-bottom: 0;
    }
    .column__icon--dropdown {
      width: 100%;
      height: 65px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      i {
        font-size: 20px;
        margin-right: 20px;
        transition: 0.2s ease-in;
      }
    }
    .icon__reversed {
      transition: 0.2s ease-in;
      transform: rotate(180deg);
    }
    .table__content {
      width: 100%;
      height: 0;
      visibility: hidden;
      transition: 0.25s ease-in-out;
      .table__row {
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #f2f2f2;
        border-left: 2px solid #f2f2f2;
        border-right: 2px solid #f2f2f2;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 16px;
        text-align: center;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 2px solid #f2f2f2;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .table__content--active {
      height: auto;
      visibility: visible;
      transition: 0.25s ease-in-out;
      .table__row {
        display: grid;
      }
    }
  }

  .tickets__cart {
    width: calc(100% - 65% - 20px);
    display: flex;
    flex-direction: column;
    height: auto;
    align-self: flex-start;
    .cart__order {
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center;
      position: relative;
      .cart__order--icon {
        width: 55px;
        height: 65px;
        border-radius: 12px;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: $white;
          font-size: 28px;
        }
      }
      .cart__order--description {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        .cart__order--title {
          font-size: 16px;
          font-weight: 500;
        }
        .cart__order--amount {
          margin-top: 5px;
          font-size: 14px;
          color: $dimgray;
        }
      }
      .cart__order--button-remove {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: auto;
        color: $black;
        font-size: 25px;
      }
    }
  }

  .tickets__checkout {
    margin-bottom: 30px;
    .tickets__checkout--form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 100px;
      gap: 20px;
      .tickets__button {
        width: 200px;
      }
    }
    .tickets__amount--control {
      margin-top: 15px;
      display: flex;
      .tickets__amount--button,
      .tickets__amount--status {
        width: 45px;
        height: 45px;
        background-color: $black;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        border-radius: 7.5px;
      }
      .tickets__amount--status {
        margin: 0 10px 0 10px;
      }
    }
    @include screen(desktop) {
      .tickets__checkout--form {
        gap: 30px;
        grid-auto-rows: auto;
      }
    }
    @include screen(tablet) {
      .tickets__checkout--form {
        padding: 0;
        grid-template-columns: 1fr;
      }
    }
  }
  @include screen(desktop) {
    .tickets__flex--wrapper {
      flex-direction: column;
    }
    .wrapper {
      width: 100%;
      margin-right: 0;
    }
    .tickets__cart {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  @include screen(phone) {
    .tickets__column {
      padding: 20px 10px 20px 10px;
    }
    .table__content {
      .table__row {
        div {
          font-size: 14px;
        }
      }
    }
    .input__wrapper {
      width: 100%;
    }
  }
}
