.wrapper {
  min-height: 100vh;
}

.cardsWrapperAllNews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  @include screen(desktop) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

.singlePostWrapper {
  margin-top: 16px;
  width: 750px;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .image {
    width: 100%;
    height: 400px;
    position: relative;
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    .eventDate {
      display: flex;
      text-align: center;
      align-items: center;
      align-self: flex-start;
      color: $white;
      font-size: 17px;
      background-color: $green;
      padding: 6px 12px;
      border-radius: 12px;
    }
    .title {
      margin-top: 8px;
      font-size: 25px;
    }
    .date {
      padding: 12px 0;
      align-self: flex-end;
      span {
        font-size: 16px;
        color: $dimgray;
      }
    }
    .description {
      margin-top: 20px;
      line-height: 1.8;
      font-size: 18px;
    }
  }
}
