// USED ICONS
.#{$fa-css-prefix}-ticket-alt:before {
  content: fa-content($fa-var-ticket-alt);
}
.#{$fa-css-prefix}-times:before {
  content: fa-content($fa-var-times);
}
.#{$fa-css-prefix}-shopping-bag:before {
  content: fa-content($fa-var-shopping-bag);
}
.#{$fa-css-prefix}-chevron-down:before {
  content: fa-content($fa-var-chevron-down);
}
.#{$fa-css-prefix}-chevron-left:before {
  content: fa-content($fa-var-chevron-left);
}
.#{$fa-css-prefix}-chevron-right:before {
  content: fa-content($fa-var-chevron-right);
}
.#{$fa-css-prefix}-arrow-left:before {
  content: fa-content($fa-var-arrow-left);
}
.#{$fa-css-prefix}-arrow-right:before {
  content: fa-content($fa-var-arrow-right);
}
.#{$fa-css-prefix}-minus:before {
  content: fa-content($fa-var-minus);
}
.#{$fa-css-prefix}-plus:before {
  content: fa-content($fa-var-plus);
}
