.galleryImage {
  min-width: 500px;
  max-width: 500px;
  height: 350px;
  position: relative;
  background-color: $gray;
  border-radius: 12px;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}
